# Us
mcp-server-config.json

# any /agents/* except gmail_* and reclaim
agents/*
!agents/gmail_*
!agents/reclaim*

# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
yarn.lock
pnpm-lock.yaml

# TypeScript
*.tsbuildinfo

# OS
.DS_Store